@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("./reset.css");
@import url("./normalize.css");
@import url("./common.css");
:root {
  --font-h1: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* 브라우저 사이즈 768px이상, 1023px이하 일때,*/
}
@media (max-width: 767px) {
  /* 브라우저 사이즈 768px이상, 1023px이하 일때,*/
}
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
@font-face {
  font-family: "apple";
  src: url("../fonts/SFProKRDisplay_light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "apple";
  src: url("../fonts/SFProKRDisplay_regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "apple";
  src: url("../fonts/SFProKRDisplay_medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "apple";
  src: url("../fonts/SFProKRDisplay_semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "apple";
  src: url("../fonts/SFProKRDisplay_bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "NeueBit";
  src: url("../fonts/NeueBit-Regular.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "NeueBit";
  src: url("../fonts/NeueBit-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Social-Gothic-Bold";
  src: url("../fonts/Social-Gothic-Bold2.woff") format("woff");
}
body {
  overflow-x: hidden;
  background-image: url(../images/background.png);
  color: #cec9c9;
  font-family: "apple", sans-serif;
  min-width: 1300px;
  word-break: keep-all;
  cursor: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
header .gauge {
  position: absolute;
  width: 100%;
  height: 5px;
}
header .gauge .curr {
  width: 0%;
  height: 100%;
  background: #BC302F;
}
header h1 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  color: #BC302F;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

footer {
  background: #f8f6f0;
  padding-top: 10vh;
}
footer h3 {
  font-family: "Social-Gothic-Bold";
  font-size: 10vw;
  display: flex;
  align-items: center;
  padding-left: 3vw;
}
footer h3 span {
  opacity: 0;
  transform: translateY(-100%);
  color: #BC302F;
  margin-right: 3vw;
}
footer h3 svg {
  opacity: 1;
  width: 10vw;
  height: 10vw;
  margin-left: 2vw;
}
footer h3 svg g g {
  fill: #BC302F;
}
footer h3 svg g circle {
  stroke: #BC302F;
}
footer .footer-wrap {
  padding-left: 5vw;
  padding-bottom: 10vh;
}
footer .footer-wrap .contact-btn {
  position: relative;
  padding-top: 5vh;
  overflow: hidden;
}
footer .footer-wrap a {
  font-family: "Social-Gothic-Bold";
  font-size: 10vw;
  display: inline-block;
  transform: translateX(-100%);
}
footer .footer-wrap a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #BC302F;
  transition: all linear 0.5s;
}
footer .footer-wrap a:hover::after {
  width: 40vw;
}
footer .copy {
  padding: 1vw;
}